.container {
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 5rem;
    text-align: center;
    margin: 0;
    padding-top: 40px;
}

@media screen and (max-width: 765px) {
    .title {
        font-size: 3.8rem;
    }
}

.dark {
    color: #098F8C;
}

.contact-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    padding: 30px;
    border-radius: 20px;
}

.form-heading {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.input {
    border: 1px solid rgb(42, 42, 42);
    background-color: rgb(21, 21, 21);
    padding: 15px;
    color: white;
    outline: none;
    font-size: 1rem;
    margin-bottom: 10px;
}

.message {
    width: 100%;
    height: 110px;
    background-color: rgb(21, 21, 21);
    border: 1px solid rgb(42, 42, 42);
    border-radius: 5px;
    padding: 15px;
    font-family: inherit;
    color: white;
    outline: none;
    font-size: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #098F8C;
    color: white;
    font-size: 1rem;
    padding: 10px 40px;
    border-radius: 8px;
    margin-top: 20px;
}

.background {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width: 1200px) {
    .background {
        height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 980px) {
    .background {
        height: 100%;
        width: auto;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-info h2, p {
        margin: 0;
    }

    .contact-info h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .contact-info p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .contact-info {
        padding: 40px 0;
    }
}