.title {
    text-align: center;
}

.loading {
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}