.navbar {
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.889); */
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.links {
    display: flex;
    list-style: none;
    flex: 4;
    justify-content: space-evenly;
}

.link-item__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.active {
    border-bottom: 2px solid white;
}

@media screen and (max-width: 980px) {
    .navbar {
        padding: 10px;
    }
    .link-item__link {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}